In [4]:
#List Comprehension

#for loop version
result = []
for i in range(11):
    result.append(i)
print(result)
#List comprehension version
print([i for i in range(11)])
#for loop version-->odd elements
result = []
for i in range(11):
    if i%2!=0:
        result.append(i)
print(result)
print([i for i in range(11)if i%2!=0])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [5]:
print([i if i%2!=0 else i**2 for i in range(11)])

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

In [6]:
print([i if i%2==0 else i**2 for i in range(11)])

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

## List Compreshenssion For 2-Dimensional Data

In [12]:
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
l1 = []
for i in mat:
    for j in i:
        if j%2==1:
            l1.append(j**2)
        else:
            l1.append(j**3)
l1

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096]

In [20]:
[j**2 if j%2==1 else j**3 for i in mat for j in i]

[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096]

In [34]:
mat = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
t = [ [0]*4 for i in range(4)]
for i in range(4):
    for j in range(4):
        if mat[i][j]%2==1:
            t[i][j]=mat[i][j]**2
        else:
            t[i][j]=mat[i][j]**3
t

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

In [37]:
[[mat[i][j]**2 if mat[i][j]%2==1 else mat[i][j]**3 for j in range(4)] for i in range(4)]

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

In [38]:
[[ele**2 if ele%2!=0 else ele**3 for ele in row] for row in mat]

[[1, 8, 9, 64],
 [25, 216, 49, 512],
 [81, 1000, 121, 1728],
 [169, 2744, 225, 4096]]

# Paired Output List Comprehenssion

In [43]:
my_list = [9,3,6,1,5,0,8,2,4,7]
list_b = [6,4,6,1,2,2]
[(i,my_list.index(i)) for i in list_b]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [46]:
my_list = [9,3,6,1,5,0,8,2,4,7]
list_b = [6,4,6,1,2,2]
l1=[]
for i in list_b:
    l1.append((i,my_list.index(i)))
l1

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [70]:
my_list = [9,3,6,1,5,0,8,2,4,7]
list_b = [6,4,6,1,2,2]
mnop = [{i,my_list.index(i)} for i in list_b]
mnop

[{2, 6}, {4, 8}, {2, 6}, {1, 3}, {2, 7}, {2, 7}]

In [65]:
type(mnop[0])

set

In [58]:
result = {}
for i in list_b:
    result[i]=my_list.index(i)
print(result)

{6: 2, 4: 8, 1: 3, 2: 7}

In [67]:
ghij = {i:my_list.index(i) for i in list_b}
print(ghij)
type(ghij)

{6: 2, 4: 8, 1: 3, 2: 7}

dict

In [68]:
ghij[10]=14
ghij

{6: 2, 4: 8, 1: 3, 2: 7, 10: 14}

In [134]:
sentences = ["a new world record was set", "in the holy city of ayodhya", "on the eve of diwali on tuesday", "with over three lakh diya or eathen lamps", "lit up simultaneously on the banks of sarayu river"]
stopwords = ['for', 'a' ,'of', 'the', 'and', 'to', 'in','on', 'with']
for i in sentences:
    for j in i.split():
        if j not in stopwords:
            l2=
sentences

['a new world record was set',
 'in the holy city of ayodhya',
 'on the eve of diwali on tuesday',
 'with over three lakh diya or eathen lamps',
 'lit up simultaneously on the banks of sarayu river']

In [78]:
mnop = i.split()

In [79]:
mnop

['lit', 'up', 'simultaneously', 'on', 'the', 'banks', 'of', 'sarayu', 'river']

In [81]:
del mnop[2]
mnop[2]

'the'

In [82]:
mnop[2] in stopwords

True

In [87]:
for i in sentences:
    for j in range(len(i.split())):

['a', 'new', 'world', 'record', 'was', 'set']
['in', 'the', 'holy', 'city', 'of', 'ayodhya']
['on', 'the', 'eve', 'of', 'diwali', 'on', 'tuesday']
['with', 'over', 'three', 'lakh', 'diya', 'or', 'eathen', 'lamps']
['lit', 'up', 'simultaneously', 'on', 'the', 'banks', 'of', 'sarayu', 'river']

In [92]:
for i in sentences:
    for j in range(len(i.split())):
        del i.split()[0]
        print(i.split()[j])

a
new
world
record
was
set
in
the
holy
city
of
ayodhya
on
the
eve
of
diwali
on
tuesday
with
over
three
lakh
diya
or
eathen
lamps
lit
up
simultaneously
on
the
banks
of
sarayu
river

In [128]:
sentences = ["a new world record was set", "in the holy city of ayodhya", "on the eve of diwali on tuesday", "with over three lakh diya or eathen lamps", "lit up simultaneously on the banks of sarayu river"]
stopwords = ['for', 'a' ,'of', 'the', 'and', 'to', 'in','on', 'with']
l3=[]
for i in sentences:
    l1=i.split()
    l2=[]
    end = len(i.split())
    for j in range(end):
        if l1[j] not in stopwords:
            l2.append(l1[j])
    l3.append(" ".join(l2))
l3

['new world record was set',
 'holy city ayodhya',
 'eve diwali tuesday',
 'over three lakh diya or eathen lamps',
 'lit up simultaneously banks sarayu river']

In [106]:
l1 = [1,2,3,4]

In [109]:
del l1[1]

In [110]:
l1

[1, 3]

In [126]:
l3.append("fdk fdkjg")

In [127]:
l3

['fdk fdkj', 'fdk fdkjg']

In [129]:
[[word for word in sentence.split() if word not in stopwords] for sentence in sentences]

[['new', 'world', 'record', 'was', 'set'],
 ['holy', 'city', 'ayodhya'],
 ['eve', 'diwali', 'tuesday'],
 ['over', 'three', 'lakh', 'diya', 'or', 'eathen', 'lamps'],
 ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

In [135]:
str1 = input().split(",")
num1 = 0
num2 = 0
l1=[]
for i in str1:
    if str1.index(i)>=str1.index('5') and str1.index(i)<=str1.index('8'):
        l1.append(i)
    else:
        num2=num2+int(i)
num1=num2+int("".join(l1))
print(num1)
print(num2)

3,2,6,5,1,4,8,9
5168
20

In [136]:
str1 = input().split(",")
str1

3,4,5,6,'fdf'

['3', '4', '5', '6', "'fdf'"]

In [194]:
str1 = input().split(",")
for i in str1:
    i.replace(" ", "")
    print(i)
    str2=i.split(":")
    num1=0
    for i in str2[1]:
        num1=num1+int(i)**2
    if(num1%2==0):
        print(str2[0][-1]+str2[0][:-1])
    else:
        print(str2[0][2:]+str2[0][:2])

rhdt:246,ghftd:1246
rhdt:246
trhd
ghftd:1246
ftdgh

In [192]:
str1 = input().split(",")
for i in str1:
    i.replace(" ", "")
    print(i)

sdf fdjf:344 42
sdf fdjf:344 42

In [189]:
from copy import deepcopy
str1 = input().split(",")
for i in str1:
    mnop = deepcopy(i)
    mnop.replace(" ", "")
    print(mnop)

ghdkj hfds:42 23
ghdkj hfds:42 23

In [179]:
str1 = "rh dt:246"
str1.replace(" ", "")

'rhdt:246'

In [183]:
str1.replace(" ", "")

'rhdt:246'

In [191]:
mnop.replace(" ", "")

'ghdkjhfds:4223'

In [196]:
5//2

2

In [215]:
num = int(input())
prime=False
sum=0
for i in range(num,num+9):
    j=0
    print("num",i)
    for j in range(i,1,-1):
        for k in range(j//2,1,-1):
            if j%k==0
                break
        if k==j//2-1:

10
num 10
10
9
8
7
6
5
4
3
2
num 11
11
10
9
8
7
6
5
4
3
2
num 12
12
11
10
9
8
7
6
5
4
3
2
num 13
13
12
11
10
9
8
7
6
5
4
3
2
num 14
14
13
12
11
10
9
8
7
6
5
4
3
2
num 15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
num 16
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
num 17
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
num 18
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [217]:
for i in range(5):
    print(i)
i

0
1
2
3
4

4